{% extends '_base.html'%}
{% load widget_tweaks %}

{% block content %}
<form method="get" action="#" >
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-3">
    {% csrf_token %}
    {{ filter.form }}
    <button type="submit" class="btn btn-warning sm:w-44">Αναζήτηση</button>
    </div>
</form>
<!--Divider-->
  <div class="divider divider-primary"></div>
<!--End Divider-->

<!--Buttons-->
<div class="flex flex-col sm:flex-row sm:space-x-1 space-y-1 sm:space-y-0 mt-3">
    <button onclick="openModalStudentNew()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Νέα εγγραφή</button>
    <a href="{% url 'students_list_export' %}" class="text-center lg:text-left text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Εξαγωγή<a/>
    <a href="{% url 'student_document_list' %}" class="text-center text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-purple-800 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Μεταφόρτωση αρχείου<a/>
</div>
<!--End Buttons-->

{% if students_empty %}
<div class="mt-10 text-center font-mono text-lg font-bold">
  <p>No students found.</p>
</div>
{% else %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <div class="hidden sm:block">
        <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <tr>
                    <th colspan="10" class="text-center text-2xl font-bold">Εγγραφές Μαθητών</th>
                </tr>
                <tr>
                    <th scope="col" class="px-6 py-3">Ονοματεπώνυμο</th>
                    <th scope="col" class="px-6 py-3">Μάθημα</th>
                    <th scope="col" class="px-6 py-3">Εταιρεία</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Τηλ. Επικ.</th>
                    <th scope="col" class="px-6 py-3">Φύλλο</th>
                    <th scope="col" class="px-6 py-3">Εγγραφή</th>
                    <th scope="col" class="px-6 py-3">Κωδ.Μέλους</th>
                    <th scope="col" class="px-6 py-3">Κατάσταση</th>
                    <th scope="col" class="px-6 py-3">Ενέργειες</th>
                </tr>
            </thead>
            <tbody>
                {% for student in page_obj %}
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-4" data-label="Ονοματεπώνυμο"><a href="">{{ student.user.first_name }} {{ student.user.last_name }}</a></td>
                <td class="px-6 py-4" data-label="Μάθημα">{{ student.course }}</td>
                <td class="px-6 py-4" data-label="Εταιρεία">{{ student.user.organization }}</td>
                <td class="px-6 py-4" data-label="Email">{{ student.user.email }}</td>
                <td class="px-6 py-4" data-label="Τηλ. Επικ.">{{ student.user.phone_number }}</td>
                <td class="px-6 py-4" data-label="Φύλλο">{{ student.user.gender }}</td>
                <td class="px-6 py-4" data-label="Εγγραφή">{{ student.user.created|date:'d/m/Y' }}</td>
                <td class="px-6 py-4" data-label="Κωδ.Μέλους">#{{ student.membership_number }}</td>
                {% if student.user.is_active == True %}
                <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-green-600 size-6">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" />
                </svg>
                </td>
                {% else %}
                <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-red-600 size-6">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm-4.34 7.964a.75.75 0 0 1-1.061-1.06 5.236 5.236 0 0 1 3.73-1.538 5.236 5.236 0 0 1 3.695 1.538.75.75 0 1 1-1.061 1.06 3.736 3.736 0 0 0-2.639-1.098 3.736 3.736 0 0 0-2.664 1.098Z" clip-rule="evenodd" />
                </svg>
                </td>
                {% endif %}
                <td class="px-6 py-4" data-label="Ενέργειες">
                    <a href="{% url 'student_edit' student.pk %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Edit</a>
                    {% comment %} <a href="{{student.user.get_absolute_url_delete}}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">Delete</a> {% endcomment %}
                </td>
                {% empty %}
                <tr>
                  <td colspan="10" class="border px-4 py-2 text-center">Δεν βρέθηκε καμία εγγραφή.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <div>
            <!-- Cards for smaller screens -->
            <div class="block sm:hidden space-y-4">
                {% for student in page_obj %}
                <div class="border p-4 rounded-lg shadow-md bg-white">
                    <p><span class="font-bold text-gray-700">Ονοματεπώνυμο:</span> {{ student.user.first_name }} {{ student.user.last_name }}</p>
                    <p><span class="font-bold text-gray-700">Μάθημα:</span> {{ student.course }}</p>
                    <p><span class="font-bold text-gray-700">Εταιρεία:</span> {{ student.user.organization }}</p>
                    <p><span class="font-bold text-gray-700">Email:</span> {{ student.user.email }}</p>
                    <p><span class="font-bold text-gray-700">Τηλ. Επικ.:</span> {{ student.user.phone_number }}</p>
                    <p><span class="font-bold text-gray-700">Φύλλο:</span> {{ student.user.gender }}</p>
                    <p><span class="font-bold text-gray-700">Εγγραφή:</span> {{ student.user.created|date:'d/m/Y' }}</p>
                    <p><span class="font-bold text-gray-700">Κωδ.Μέλους:</span> #{{ student.membership_number }}</p>
                </div>
                {% endfor %}
            </div>
   
</div>
{% endif %}
<div id="student-new-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-7xl relative">
      <!-- Close Button -->
      <button class="absolute top-2 right-2 text-red-600 font-bold text-2xl px-4 py-2 rounded-md focus:outline-none" onclick="closeModalStudentNew()">✕</button>
  
      <!-- Form -->
      <h2 class="text-lg font-bold mb-6 text-gray-700">Νέα εγγραφή Μαθητή</h2>
      <form method="POST">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
          {% csrf_token %}
          
          <div>
            <label for="organization" class="block text-sm font-medium text-gray-700 dark:text-white">Οργανισμός<span class="text-red-600 ml-2">*</span></label>
            {{form.organization}} 
        </div>
        <div>
            <label for="first_name" class="block text-sm font-medium text-gray-700 dark:text-white">Όνομα<span class="text-red-600 ml-2">*</span></label>
            {{form.first_name}}
        </div>
        <div>
            <label for="last_name" class="block text-sm font-medium text-gray-700 dark:text-white">Επώνυμο<span class="text-red-600 ml-2">*</span></label>
            {{form.last_name}}
        </div>
        <div>
            <label for="course" class="block text-sm font-medium text-gray-700 dark:text-white">Μάθημα<span class="text-red-600 ml-2">*</span></label>
            {{form.course}}
        </div>
        <div>
            <label for="gender" class="block text-sm font-medium text-gray-700 dark:text-white">Φύλο<span class="text-red-600 ml-2">*</span></label>
            {{form.gender}}
        </div>
          <!-- Add more fields as necessary... -->
          <div>
            <label for="address" class="block text-sm font-medium text-gray-700 dark:text-white">Διεύθυνση<span class="text-red-600 ml-2">*</span></label>
            {{form.address}}
        </div>
        <div>
            <label for="city" class="block text-sm font-medium text-gray-700 dark:text-white">Πόλη</label>
            {{form.city}}
        </div>
        <div>
            <label for="country" class="block text-sm font-medium text-gray-700 dark:text-white">Χώρα</label>
            {{form.country}}
        </div>
        <div>
            <label for="postal_code" class="block text-sm font-medium text-gray-700 dark:text-white">Τ.Κ</label>
            {{form.postal_code}}
        </div>
        <div>
            <label for="date_of_birth" class="block text-sm font-medium text-gray-700 dark:text-white">Ημ. Γέννησης</label>
            {{form.date_of_birth}}
        </div>
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700 dark:text-white">Email<span class="text-red-600 ml-2">*</span></label>
            {{form.email}}
        </div>
        <div>
            <label for="phone_number" class="block text-sm font-medium text-gray-700 dark:text-white">Τηλέφωνο<span class="text-red-600 ml-2">*</span></label>
            {{form.phone_number}}
        </div>
        <div class="flex items-center">
            {{form.is_active}}
            <label for="is_active" class="ml-2 block text-sm font-medium text-gray-700 dark:text-white">Ενεργός/ή</label>
        </div>
        <div class="flex items-center">
            {{form.is_student}}
            <label for="is_student" class="ml-2 block text-sm font-medium text-gray-700 dark:text-white">Μαθητής</label>
        </div>
          <!-- Submit Button at the end, spanning all 4 columns -->
          <div class="col-span-4 mt-4 flex justify-end">
            <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50">Αποθήκευση</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<script>
    function openModalStudentNew() {
        document.getElementById("student-new-modal").classList.remove("hidden");
        document.getElementById("student-new-modal").classList.add("flex");
    }

    function closeModalStudentNew() {
        document.getElementById("student-new-modal").classList.remove("flex");
        document.getElementById("student-new-modal").classList.add("hidden");
    }
</script>
{% endblock %}