<!-- templates/books/book_confirm_delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book Confirmation</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-xl font-bold mb-4 text-center text-red-600">Επιβεβαίωση διαγραφής</h1>

            <p class="text-gray-700 mb-6 text-center">Είστε σίγουρος/η για την διαγραφή της συνδρομής του μαθητή: <strong>{{ user.last_name }}</strong> <strong>{{ user.first_name }}</strong> 
            ,με έναρξη στις <strong>{{subscription.start_date|date:'d/m/Y'}} </strong>του μαθήματος<strong> {{subscription.course}}</strong></p>

            <form method="post">
                {% csrf_token %}
                <div class="flex justify-between">
                    <a href="{% url 'subscriptions_list' %}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">
                        Cancel
                    </a>
                    <button type="submit" class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>