{% extends "_base.html" %}
{% load widget_tweaks %}

{% block content %}

<style>
  .short-term {
      background-color: red;
      color: white;
  }
</style>

<!--Filter Form-->
<form method="get" action="#" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 mt-3">
    {% csrf_token %}
    {{ filter.form }}
    <button type="submit" class="btn btn-warning sm:w-44">Αναζήτηση</button>
</form>
<!--End Filter Form-->

  <div class="divider divider-primary"></div>

<!--Buttons-->
<div class="flex flex-col sm:flex-row sm:space-x-1 space-y-1 sm:space-y-0 mt-3">
  <button onclick="openModalSubNew()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Νέα εγγραφή</button>
  <a href="{% url 'subscriptions_list_export' %}" class="text-center lg:text-left text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Εξαγωγή<a/>
  <a href="{% url 'student_document_list' %}" class="text-center text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-purple-800 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Μεταφόρτωση αρχείου<a/>
  </div>
<!--End Buttons-->


<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
  <div class="hidden sm:block">
    <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <tr>
          <th colspan="8" class="text-center text-2xl font-bold">Συνδρομές Μαθητών</th>
        </tr>
        <tr>
          <th scope="col" class="px-6 py-3">Καθηγητής</th>
          <th scope="col" class="px-6 py-3">Μαθητής</th>
          <th scope="col" class="px-6 py-3">Μάθημα</th>
          <th scope="col" class="px-6 py-3">Is Online?</th>
          <th scope="col" class="px-6 py-3">Έναρξη</th>
          <th scope="col" class="px-6 py-3">Λήξη</th>
          <th scope="col" class="px-6 py-3">Ανανεώθηκε</th>
          <th scope="col" class="px-6 py-3">Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
        {% for subscription in subscriptions %}
          {% if subscription.is_short_term %}
        <tr class="bg-red-600 text-white font-bold">
          {% else %}
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          {% endif %}
          <td class="px-6 py-4" data-label="Καθηγητής"><a href="">{{subscription.user}}</a></td>
          <td class="px-6 py-4" data-label="Μαθητής">{{ subscription.student }}</td>
          <td class="px-6 py-4" data-label="Μάθημα">{{ subscription.course }}</td>
            {% if subscription.is_online == True %}
          <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-green-600 size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" />
              </svg>
          </td>
            {% else %}
          <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-red-600 size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm-4.34 7.964a.75.75 0 0 1-1.061-1.06 5.236 5.236 0 0 1 3.73-1.538 5.236 5.236 0 0 1 3.695 1.538.75.75 0 1 1-1.061 1.06 3.736 3.736 0 0 0-2.639-1.098 3.736 3.736 0 0 0-2.664 1.098Z" clip-rule="evenodd" />
              </svg>
          </td>
            {% endif %}
          <td class="px-6 py-4" data-label="Έναρξη">{{ subscription.start_date|date:'d/m/Y' }}</td>
          <td class="px-6 py-4" data-label="Λήξη">{{ subscription.end_date|date:'d/m/Y' }}</td>
            {% if subscription.is_paid == True %}
          <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-green-600 size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" />
              </svg>
          </td>
            {% else %}
          <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-red-600 size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm-4.34 7.964a.75.75 0 0 1-1.061-1.06 5.236 5.236 0 0 1 3.73-1.538 5.236 5.236 0 0 1 3.695 1.538.75.75 0 1 1-1.061 1.06 3.736 3.736 0 0 0-2.639-1.098 3.736 3.736 0 0 0-2.664 1.098Z" clip-rule="evenodd" />
              </svg>
          </td>
            {% endif %}
          <td class="px-6 py-4" data-label="Ενέργειες">
            <a href="{% url 'subscription_edit' subscription.pk %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Edit</a>
            {% comment %} <a href="{% url 'subscription_delete' subscription.pk  %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">Delete</a></td> {% endcomment %}
            {% empty %}
          <tr>
            <td colspan="8" class="border px-4 py-2 text-center">Δεν βρέθηκε καμία συνδρομή.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
   <!-- Cards for smaller screens -->
   <div class="block sm:hidden space-y-4">
    {% for subscription in subscriptions %}
    <div class="border p-4 rounded-lg shadow-md bg-white">
        <p><span class="font-bold text-gray-700">Καθηγητής:</span> {{subscription.user}}</p>
        <p><span class="font-bold text-gray-700">Μαθητής:</span> {{ subscription.student }}</p>
        <p><span class="font-bold text-gray-700">Μάθημα:</span> {{ subscription.course }}</p>
        <p><span class="font-bold text-gray-700">Έναρξη:</span> {{ subscription.start_date|date:'d/m/Y' }}</p>
        <p><span class="font-bold text-gray-700">Λήξη:</span> {{ subscription.end_date|date:'d/m/Y' }}</p>
        <p><span class="font-bold text-gray-700">Ανανεώθηκε:</span> {% if subscription.is_paid == True %}
          <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-green-600 size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" />
              </svg>
          </td>
            {% else %}
          <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-red-600 size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm-4.34 7.964a.75.75 0 0 1-1.061-1.06 5.236 5.236 0 0 1 3.73-1.538 5.236 5.236 0 0 1 3.695 1.538.75.75 0 1 1-1.061 1.06 3.736 3.736 0 0 0-2.639-1.098 3.736 3.736 0 0 0-2.664 1.098Z" clip-rule="evenodd" />
              </svg>
          </td>
            {% endif %}</p>
        <p><span class="font-bold text-gray-700"></span> {% if subscription.is_online == True %}
            <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-green-600 size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z" clip-rule="evenodd" />
            </svg>
            </td>
            {% else %}
            <td class="flex justify-center items-center h-10" data-label="Κατάσταση"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-red-600 size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm-4.34 7.964a.75.75 0 0 1-1.061-1.06 5.236 5.236 0 0 1 3.73-1.538 5.236 5.236 0 0 1 3.695 1.538.75.75 0 1 1-1.061 1.06 3.736 3.736 0 0 0-2.639-1.098 3.736 3.736 0 0 0-2.664 1.098Z" clip-rule="evenodd" />
            </svg>
            </td>
            {% endif %}</p>
    </div>
    {% endfor %}
</div>
</div>

        <!-- Modal Container -->
        <div id="sub-new-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center">
          <div class="bg-white p-6 rounded-lg shadow-lg w-1/3 relative">
              <!-- Close Button -->
              <button class="absolute top-2 right-2 text-red-600 font-bold text-2xl px-4 py-2 rounded-md focus:outline-none" onclick="closeModalSubNew()">✕</button>

              <!-- Form -->
              <h2 class="text-lg font-bold mb-4 text-gray-700">Νέα εγγραφή Συνδρομής</h2>
              <form method="POST">
                  <div class="space-y-4">
                  {% csrf_token %}
                  <div>
                    <label for="organization" class="block text-sm font-medium text-gray-700 dark:text-white">Καθηγητής<span class="text-red-600 ml-2">*</span></label>
                    {{form.user}} 
                  </div>
                  <div>
                    <label for="organization" class="block text-sm font-medium text-gray-700 dark:text-white">Μάθημα<span class="text-red-600 ml-2">*</span></label>
                    {{form.course}} 
                  </div>
                  <div>
                    <label for="organization" class="block text-sm font-medium text-gray-700 dark:text-white">Μαθητής<span class="text-red-600 ml-2">*</span></label>
                    {{form.student}} 
                  </div>
                  <div>
                    <label for="organization" class="block text-sm font-medium text-gray-700 dark:text-white">Έναρξη<span class="text-red-600 ml-2">*</span></label>
                    {{form.start_date}} 
                  </div>
                  <div>
                    <label for="organization" class="block text-sm font-medium text-gray-700 dark:text-white">Κατάσταση<span class="text-red-600 ml-2">*</span></label>
                    {{form.is_online}} 
                  </div>
                  <div class="mt-4 flex justify-end">
                      <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50">Αποθήκευση</button>
                  </div>
                  <p class="text-left text-gray-700" >* Η ημερομηνία λήξης ορίζεται αυτόματα προσθέτοντας <strong>30 ημέρες</strong> απο την ημερομηνία έναρξης.</p>
          </div>
              </form>
          </div>
      </div>
      <script>
        function openModalSubNew() {
            document.getElementById("sub-new-modal").classList.remove("hidden");
            document.getElementById("sub-new-modal").classList.add("flex");
        }

        function closeModalSubNew() {
            document.getElementById("sub-new-modal").classList.remove("flex");
            document.getElementById("sub-new-modal").classList.add("hidden");
        }
    </script>
{% endblock %}


