{% extends '_base.html' %}

{% block content %}

<!-- Container for cards -->
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      
      <!-- Card 1 -->
      <div class="bg-indigo-600 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">

        <div class="p-4">
          <h3 class="font-bold text-xl mb-2 text-white">Card Title 1</h3>
          <p class="text-gray-700"></p>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="bg-orange-600 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">
        <div class="p-4">
          <h3 class="font-bold text-xl mb-2 text-white">Card Title 2</h3>
          <p class="text-gray-700"></p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="bg-red-600 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">
        <div class="p-4">
          <h3 class="font-bold text-xl mb-2 text-white">Card Title 3</h3>
          <p class="text-gray-700"></p>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <div class="p-4">
          <h3 class="font-bold text-xl mb-2">Card Title 4</h3>
          <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et lorem vitae metus.</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}